*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  text-decoration: none;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
:root{

}

@mixin flex-row-spaceBetween{
  display:flex;
  align-items:center;
  justify-content:space-around
}

@mixin for-phone-only{
  @media (max-width:599){
    @content;
  }
}

.layout-body{
  padding:15px;
  .card-display{
  display:flex;
  flex-wrap:wrap;
  align-items:flex-start;
  justify-content:center;

    margin-top:80px;
  
}

}
.head{
  height:80px;
  width:100%;
  display:flex;
  align-items:center;
  justify-content: space-evenly;
  position:fixed;
  background-color: white;
  top:0;
  padding:20px;
  box-shadow:5px 13px 11px -15px #000000

}
.head input{
  width:300px;
  height:40px;
  outline:none;
  padding:10px;
  box-shadow: 3px -4px 9px -7px #000000;
  border:1px solid silver;
  border-radius:10px;
}

